html,
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
button,
input,
textarea,
a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #000;
  outline: none; }

ul,
li {
  list-style: none;
  list-style-type: none; }

a {
  text-decoration: none; }

button {
  border-width: 0; }

.small-text, .person__position, .contacts__headings {
  font-size: 14px;
  line-height: 27px;
  color: #9fadc2; }

a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }
  a:hover, a:visited {
    color: #9fadc2; }
  a:focus {
    font-weight: bold; }

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  scroll-behavior: smooth; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header {
  width: 100%;
  background: url(../images/header.png) center no-repeat;
  background-size: cover;
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff; }
  .header__container {
    position: relative;
    max-width: 1260px;
    padding: 56px 120px;
    height: 700px;
    margin: 0 auto; }
  .header__link--icon {
    position: absolute;
    display: none;
    width: 18px;
    height: 18px;
    top: 39px;
    left: 23px;
    background: url(../images/tel.svg) center no-repeat; }
  .header__link--telephone {
    position: absolute;
    color: inherit; }
  .header__logo {
    position: absolute;
    top: 11px;
    left: calc(50% - 57.5px); }
  .header__link--call-back {
    position: absolute;
    top: 56px;
    right: 120px;
    color: inherit; }
  .header__link--call-back::after {
    content: "";
    display: block;
    position: absolute;
    width: 114px;
    height: 1px;
    bottom: -8px;
    left: 0;
    background: #fff; }
  .header__capture {
    position: relative;
    max-width: 395px;
    margin: 358px 0 80px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: inherit; }
  .header__capture::after {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 2px;
    top: -20px;
    left: 0;
    background: #fff;
    border-radius: 2px; }
  .header__toggler {
    position: absolute;
    top: 39px;
    right: 23px;
    display: none; }
  .header__toggler--label {
    width: 18px;
    height: 12px; }
  .header__toggler--label::after {
    content: url(../images/burger.svg);
    display: block;
    position: absolute;
    width: 18px;
    height: 12px;
    top: 0;
    left: 0; }
  @media screen and (max-width: 860px) {
    .header__container {
      padding: 56px 20px;
      height: 576px; }
    .header__logo {
      left: calc(50% - 36.5px); }
    .header__link--telephone, .header__link--call-back {
      position: absolute; }
    .header__link--telephone {
      top: 448px;
      -webkit-transform: translateX(-300%);
              transform: translateX(-300%);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .header__link--call-back {
      top: 480px;
      left: 20px;
      -webkit-transform: translateX(-300%);
              transform: translateX(-300%);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .header__capture {
      margin-top: 330px;
      max-width: 295px;
      font-size: 46px;
      line-height: 40px;
      letter-spacing: -1px;
      color: inherit; }
    .header__link--icon, .header__toggler--label {
      display: block; }
    .header__nav {
      margin-top: 48px;
      -webkit-transform: translateX(-300%);
              transform: translateX(-300%);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .header__toggler:checked ~ .header__nav,
    .header__toggler:checked ~ .header__link--telephone,
    .header__toggler:checked ~ .header__link--call-back {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    .header__toggler:checked ~ .header__link--icon,
    .header__toggler:checked ~ .header__capture {
      display: none; }
    .header__toggler:checked + .header__toggler--label::after {
      content: url(../images/x.svg); } }

.logo {
  width: 115px;
  height: 76px; }
  @media screen and (max-width: 860px) {
    .logo {
      width: 73px;
      height: 48px; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item--active {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px; }

.nav__link {
  display: block;
  padding: 8px 24px;
  color: #fff;
  line-height: 16px; }

@media screen and (max-width: 860px) {
  .nav {
    position: absolute;
    top: 120px;
    font-size: 22px;
    line-height: 1;
    letter-spacing: 2px; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
    .nav__item--active {
      background-color: inherit;
      border-radius: 0; }
    .nav__link {
      padding: 8px 8px 16px 0; }
    .nav__link--active {
      padding: 0; } }

.section {
  position: relative;
  max-width: 1260px;
  padding: 100px 120px;
  margin: 0 auto;
  color: #000; }
  .section__heading {
    left: 0;
    right: 0;
    top: -0.5em;
    margin: 0 auto; }
  @media screen and (max-width: 860px) {
    .section {
      padding: 65px 20px; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .info__headline {
    max-width: 328px;
    font-size: 48px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: -1.5px; }
  .info__link {
    font-size: inherit;
    color: #0075ff; }
  .info__text {
    max-width: 357px;
    font-size: 16px;
    line-height: 27px;
    color: #3e3e3e; }
    .info__text > :first-child {
      margin-bottom: 16px;
      color: #0075ff;
      font-size: 24px;
      line-height: 30px; }
    .info__text > :nth-child(2) {
      margin-bottom: 29px; }
  @media screen and (max-width: 860px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .info__headline {
        margin-bottom: 48px;
        text-align: left;
        font-size: 36px; } }
  @media screen and (max-width: 400px) {
    .info {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.heading {
  position: absolute;
  font-size: 48px;
  line-height: 1;
  font-weight: bold;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  letter-spacing: -1.5px; }
  .heading::before {
    content: "";
    display: block;
    position: absolute;
    width: 23px;
    height: 16px;
    left: calc(50% - 11.5px);
    top: calc(100% + 6px);
    background: url("../images/crown.svg") center no-repeat; }
  @media screen and (max-width: 860px) {
    .heading {
      font-size: 36px; } }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    height: 256px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }
  .photos__img:hover {
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
  .photos--wide-left .photos__img:first-child {
    width: calc(67% - 10px); }
  .photos--wide-left .photos__img:last-child {
    width: calc(33% - 10px); }
  .photos--wide-right {
    /* stylelint-disable-next-line no-descending-specificity */ }
    .photos--wide-right .photos__img:first-child {
      width: calc(33% - 10px); }
    .photos--wide-right .photos__img:last-child {
      width: calc(67% - 10px); }
  @media screen and (max-width: 860px) {
    .photos__img {
      height: 131px; }
    .photos--wide-left .photos__img:first-child {
      width: calc(50% - 10px); }
    .photos--wide-left .photos__img:last-child {
      width: calc(50% - 10px); }
    .photos--wide-right {
      /* stylelint-disable-next-line no-descending-specificity */ }
      .photos--wide-right .photos__img:first-child {
        width: calc(50% - 10px); }
      .photos--wide-right .photos__img:last-child {
        width: calc(50% - 10px); } }

.gallery__caption {
  margin: 24px 0 40px;
  font-size: 16px;
  line-height: 27px; }

.gallery__link {
  color: #0075ff;
  font-weight: bold; }

@media screen and (max-width: 860px) {
  .gallery__container {
    padding: 56px 20px; } }

.button {
  display: block;
  padding: 20px 66px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  background-color: #0075ff;
  -webkit-transition: background-color 0.3s, color 0.3s, border 0.3s;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  border-radius: 8px; }
  .button--gallery {
    margin: 44px auto 0;
    border: 2px solid #0075ff;
    color: #0075ff;
    background-color: #fff;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .button:hover {
    cursor: pointer;
    background-color: #0067df;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
  .button--gallery:hover {
    color: #fff;
    background-color: #0067df;
    border-color: #0067df; }
  @media screen and (max-width: 500px) {
    .button {
      width: 100%; } }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__text {
    max-width: 412px; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #0075ff;
    margin-bottom: 16px; }
  .consultation__form {
    width: 413px; }
  @media screen and (max-width: 860px) {
    .consultation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .consultation__text {
        -ms-flex-item-align: center;
            align-self: center;
        margin-bottom: 32px; }
      .consultation__text, .consultation__form {
        width: 70%; } }
  @media screen and (max-width: 600px) {
    .consultation__text, .consultation__form {
      width: 100%; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__item {
    display: block;
    margin-bottom: 16px; }
  .form__input, .form__button {
    width: 100%; }

.input {
  font-size: 14px;
  line-height: 14px;
  background: #f7f8ff;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 17px; }
  .input:focus {
    border: 1px solid #0075ff; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input__textarea {
    height: 144px; }
    .input__textarea::-webkit-input-placeholder {
      font-family: "Roboto", sans-serif; }
    .input__textarea::-moz-placeholder {
      font-family: "Roboto", sans-serif; }
    .input__textarea:-ms-input-placeholder {
      font-family: "Roboto", sans-serif; }
    .input__textarea::-ms-input-placeholder {
      font-family: "Roboto", sans-serif; }
    .input__textarea::placeholder {
      font-family: "Roboto", sans-serif; }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 860px) {
    .testimonials {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.person {
  width: 200px;
  text-align: center; }
  .person__photo {
    width: 153px;
    height: 153px;
    margin-bottom: 28px;
    border-radius: 50%; }
  .person__name, .person__position {
    margin-bottom: 4px; }
  .person__name {
    font-size: 24px;
    line-height: 30px; }
  @media screen and (max-width: 860px) {
    .person {
      margin-bottom: 100px; }
      .person:last-child {
        margin-bottom: 0; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contacts__text {
    max-width: 152px;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px; }
  .contacts__form {
    width: 413px; }
  @media screen and (max-width: 700px) {
    .contacts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .contacts__text, .contacts__form {
        width: 100%; }
      .contacts__link {
        display: block;
        margin-bottom: 24px; } }

.footer {
  position: relative;
  height: 359px;
  background: center/cover no-repeat url(../images/footer.jpg); }
  .footer__logo {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 57.5px); }
  @media screen and (max-width: 860px) {
    .footer__logo {
      left: calc(50% - 36.5px); } }

/*# sourceMappingURL=main.css.map */
